<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>{% block title %}Prouct Reviewer{% endblock %}</title>

    <style>
        /* caraousel image style */
       
        .carousel-inner {
            background-image: url("https://miro.medium.com/max/912/1*EW7vUH4XLCSIiWAmJLvV8g.jpeg");
            background-color: #cccccc;
            background-position: center;
            /* background-repeat: no-repeat; */
            background-size: length;
            max-height: 450px;
        }
        /* img style */
       
        img {
            max-height: 400px;
            max-width: auto;
        }
        /* search button style */
       
        #search {
            color: black;
        }
       
        #search:hover {
            color: white;
        }
       
        a:hover {
            /* background-color: black; */
            font-weight: bold;
        }
       
        .col-md-4 {
            position: relative;
            /* border: 1px solid #333; */
            overflow: hidden;
            width: 400px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
       
        .col-md-4 img {
            vertical-align: top;
            max-width: 100%;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
       
        .col-md-4:hover img {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.2);
        }

        {% block style %} {% endblock style%}
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Product Reviewer</a>
                    </li>
                </ul>
                <form class="d-flex" action="{% url 'search_result' %}" method="get">
                    <input style="width: 50vw;" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
                    <button id="search" class="btn btn-warning btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    {% block body %}

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">

                <img src="https://img.etimg.com/thumb/msid-70602645,width-650,imgsize-206659,,resizemode-4,quality-100/amazon-is-offering-deal-of-the-day-on-apple-samsung-oppo-vivo-honor-oneplus-among-others-.jpg" class="d-block" style="  margin-top: 1rem; margin-left: auto;  margin-right: auto;  margin-bottom: 120px; border-radius:1rem"
                    alt="...">
                <div class="carousel-caption d-none d-md-block" style=" height:6rem; width:50rem;color:white; background:red ; margin-top: 1rem; margin-left: 1rem;  margin-right: auto;  margin-bottom: 5rem; border-radius:1rem">
                    <h5>Search all your favourite smartphones.</h5>
                    <p>Get it reviewed by the Product Reviewer.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://fdn2.gsmarena.com/vv/pics/apple/apple-iphone-se-01.jpg" class="d-block" style="  margin-top: 1rem; margin-left: auto;  margin-right: auto;  margin-bottom: 120px; border-radius:1rem" alt="...">
                <div class="carousel-caption d-none d-md-block bg-info" style=" height:6rem; width:50rem;color:black; background:blue ; margin-top: 1rem; margin-left: auto;  margin-right: auto;  margin-bottom: 5rem; border-radius:1rem">
                    <h5>Search all your favourite smartphones.</h5>
                    <p>Get it reviewed by the Machine Algo.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://api.time.com/wp-content/uploads/2017/05/laptops.jpg?w=800&quality=85" class="d-block" style="  margin-top: 1rem; margin-left: auto;  margin-right: auto;  margin-bottom: 120px; border-radius:1rem" alt="...">
                <div class="carousel-caption d-none d-md-block bg-success" style=" height:6rem; width:50rem;color:white; background:blue ; margin-top: 1rem; margin-left: auto;  margin-right: auto;  margin-bottom: 5rem; border-radius:1rem">
                    <h5>Search all your favourite smartphones.</h5>
                    <p>Get it reviewed by the Machine Algo.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-danger" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-success" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    <hr class="featurette-divider fa-bold">

    <div class="row featurette bg-warning" style="width: 100%; height: 50vh;">
        <div class="col-md-8">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-4">
            <img src="https://d3mybowqzhpktj.cloudfront.net/www.senioradvisor.com/blog/wp-content/uploads/2013/11/20115149/big5.png" style="height: 50vh; width:fit-content;" class="d-block w-100" alt="...">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette bg-success" style="width: 100%; height: 50vh;">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-4 order-md-1 mx-3">
            <img src="https://fdn2.gsmarena.com/vv/pics/apple/apple-iphone-se-1.jpg" style="height: 50vh; width:inherit;padding-left: 2rem;" class="d-block w-100" alt="...">

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette bg-info" style="width: 100%; height: 50vh;">
        <div class="col-md-8">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-4">
            <img src="https://fdn2.gsmarena.com/vv/pics/apple/apple-iphone-se-1.jpg" style="height: 50vh; width:inherit;" class="d-block w-100" alt="...">

        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
    {% endblock body %}
    <!-- FOOTER -->
    <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p style="color:green">&copy; 2020–2021 Product Reviewer</p>
    </footer>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->

</body>

</html>
